/* 
 * MyWednesdayFix - app.css
 * Version: 0.19.3 (08-MAR-2015)
 */

html {
  overflow-y: scroll;
}
body {
  background-color: #f0f0f0;
  padding-top: 60px;
  padding-bottom: 60px;
  
  @media (min-width: 768px) {
    padding-top: 70px;
  }
}
.navbar-default {
  background-color: #62c9ff;
  border-bottom: 1px solid #40a6db;
  
  @media (max-width: 767px) {
    margin-bottom: 0;
  }
  
  .navbar-brand {
    &, 
    &:focus, 
    &:hover {
      color: #ffffff;
      text-shadow: 1px 1px #036395;
    }
  }
}
.btn-primary {
  &, 
  &.active, 
  &.focus, 
  &:active, 
  &:focus, 
  &:hover {
    background-color: #ffffff;
    border-color: #036395;
    color: #036395;
  }
}
#find-store-wrap {
  padding-top: 10px;
  
  @media (max-width: 767px) {
    margin-right: -5px;
  }
}
#content-headline {
  font-size: 18px;
  font-weight: bold;
}
#content-loading {
  padding: 10px 0 30px;
  text-align: center;
}
.feature-col img {
  width: 100%;
}
.feature-image-wrap {
  margin-bottom: 1em;
  padding-left: 0;
  text-align: center;
  
  @media (max-width: 991px) {
    padding-right: 0;
  }
}
.issue-store-date {
  margin-top: 0;
}
.issue-desc {
  em {
    font-style: normal;
  }
  strong, 
  b {
    font-weight: normal;
  }
  .table {
    width: auto;
  }
}
#powered-by-google {
  margin-bottom: 3px;
}
#store-lookup {
  clear: both;
}
.panel {
  border-radius: 0;
  
  @media (max-width: 767px) {
    margin-right: -6px;
    margin-bottom: 12px;
    margin-left: -6px;
  }
  
  > .panel-heading {
    border-radius: 0;
  }
  
  > .list-group .list-group-item:first-child {
    border-top: 1px solid #ddd;
  }
}
.panel-default {
  border-color: #c4c4c4;
}
.panel-info {
  border-color: #c4c4c4;
  
  > .panel-heading {
    background: #036395;
    border-color: #ffffff;
    color: #ffffff;
  }
}
footer .navbar-default {
  background-color: #ffffff;
  border-bottom: 0;
  border-color: #c7c7c7;
  box-shadow: 0 -1px 3px #cccccc;
}
.footer-nav-col {
  border-right: 1px solid #cccccc;
  font-size: 1.1em;
  padding: 0;
  text-align: center;
  
  &:last-child {
    border-right: none;
  }
  
  a {
    color: #000000;
    display: block;
    padding: 18px 0;
    
    &:hover {
      text-decoration: none;
    }
  }
}

@media (max-width: 767px) {
  .container > .navbar-header {
    margin-left: -18px;
  }
  
  .list-group-item {
    &:first-child, 
    &:last-child {
      border-radius: 0;
    }
  }
}

.platform-ios {
  padding-top: 80px;
  
  @media (min-width: 768px) {
    padding-top: 90px;
  }
  
  .navbar-fixed-top {
    padding-top: 15px;
  }
}